<div class="input-group mb-3">
  <input class="form-control form-control-lg" type="date" placeholder=".form-control-lg"
         aria-label=".form-control-lg example"
         [formControl]="form.startDate"
  >
</div>

<div class="input-group mb-3">
  <input class="form-control form-control-lg" type="date" placeholder=".form-control-lg"
         aria-label=".form-control-lg example"
         [formControl]="form.endDate"
  >
</div>

<div class="input-group mb-3">
  <span class="input-group-text">$</span>
  <input type="text" class="form-control"
         [formControl]="form.cost"
         aria-label="Amount (to the nearest dollar)">
  <span class="input-group-text">.00</span>
</div>