<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <label class="nav-link" [class.active]="!project" aria-current="page">Basic info</label>
        </li>
        <li class="nav-item">
            <label class="nav-link mat-button-disabled" [class.active]="project">Iteration size</label>
        </li>
    </ul>
    <br/>

    <app-basic-data *ngIf="!project; else showIterationSizeTab" [form]="form"></app-basic-data>

  <ng-template #showIterationSizeTab>
    <app-iteration-size *ngIf="project" [project]="project"></app-iteration-size>
  </ng-template>

</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button mat-button color="basic" type="button" (click)="cancel()">Cancel</button>
  <button mat-button color="primary" type="button" [disabled]="form.invalid" (click)="next()">Next</button>
</div>

