<app-menu></app-menu>

<h2 mat-dialog-title>Add Use case</h2>
<form [formGroup]="form" class="form">
  <div class="row">
    <div class="form-group col-6">
      <label>Name</label>
      <input type="text" class="form-control" [formControl]="form.name">
    </div>
    <div class="form-group col-6">
      <label>Description</label>
      <input type="text" class="form-control" [formControl]="form.description">
    </div>
  </div>
  <div class="form-group">
    <label>Priority</label>
    <input type="text" class="form-control" [formControl]="form.priority">
  </div>
  <mat-dialog-actions>
    <div class="col col-2 offset-sm-8">
      <button type="button" class="btn btn-outline-danger" mat-dialog-close>
        Cancel
      </button>
    </div>
    <div class="col col-2">
      <button (click)="saveUseCase()" type="button" class="btn btn-outline-primary" mat-dialog-close>
        Accept
      </button>
    </div>
  </mat-dialog-actions>

</form>


