<ng-container *ngIf="iteration !== undefined">
  <div class="iteration-management-container">

    <div class="realizations-container">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>

    <div class="notAssignedCosts-container">

      <div class="header-container">
        <div class=header-item *ngFor="let notAssignedCost of iteration.notAssignedCosts">
          {{notAssignedCost.type}} {{notAssignedCost.hours}}h
          <div style="padding: 1vw">
            <button mat-mini-fab color="basic" (click)="splitActivity(notAssignedCost)">
              <mat-icon>
                exposure_neg_1
              </mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="notassignedcost-body-container">
        <div class="not-assigned-cost-body-item" *ngFor="let notAssignedCost of iteration.notAssignedCosts">

          <mat-list>
            <mat-list-item style="box-sizing: border-box;   border: black 1px solid;"
                           *ngFor="let notAssignedActivity of getNotAssignedActivities(notAssignedCost.notAssignedActivities)">
              <div style="padding-right: 1vw;">
                {{notAssignedActivity.hours}}h
              </div>
              <button mat-mini-fab color="basic" (click)="mergeActivity(notAssignedActivity)">
                <mat-icon>
                  close
                </mat-icon>
              </button>
              <button mat-mini-fab color="basic" (click)="reestimateActivity(notAssignedActivity, notAssignedCost)">
                <mat-icon>
                  build
                </mat-icon>
              </button>
              <button mat-mini-fab color="basic" (click)="assignActivity(notAssignedActivity, notAssignedCost)">
                <mat-icon>
                  person_add
                </mat-icon>
              </button>

            </mat-list-item>
          </mat-list>
        </div>


      </div>

    </div>

  </div>


</ng-container>

