*, *::after, *::before {
  box-sizing : border-box;
}

.iteration-management-container{
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.datetime-container {
  box-sizing: border-box;
  width: 10vw;
  height: 100vh;
  display: flex;

  flex-direction: column;
  overflow: auto;
}

.vertical-list{
  display: flex;
  flex-direction: column;
}

.header-item {
  border: black 1px solid;
  width: 50%;
  text-align: center;
}

.realization-body-item {
  width: 50%;
  overflow: auto;
}

.not-assigned-cost-body-item {
  width: 25%;
  overflow: auto;
}

.header-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: black 1px solid;
  background-color: greenyellow;
}

.horizontal-item {
  display: flex;
  flex-direction: row;
  margin: 0 auto;

}

.horizontal-list {
  display: flex;
  flex-direction: row;
  border: black 1px solid;
  height: 20vh;
  width: 50vw;
}

.realizations-body-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.notassignedcost-body-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.datetime {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  border: black 1px solid;
  padding: 0.5vh 0.5vw;
  display: flex;
  flex-direction: row;
  background-color: red;
}

.realizations-container{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 80vw;
}

.notAssignedCosts-container{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 50vw;
  height: 90vh;
}



