<app-menu></app-menu>

<div class="row align-items-center">
  <div class="col-sm"></div>
  <div class="col-sm-10">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Iteration</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>
        <th scope="col">Duration</th>
        <th scope="col">Progress(%)</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let iteration of this.iterations" (click)="openIteration(iteration)">
        <td>{{ iteration.number }}</td>
        <td>{{ iteration.startDate | date }}</td>
        <td>{{ iteration.endDate | date }}</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm"></div>
</div>
<div class="row align-items-center">
  <div class="col-sm"></div>
  <div class="col-sm">
    <button class="btn btn-primary" type="button"
            (click)="openPhases()">Open Phases
    </button>
  </div>
  <div class="col-sm"></div>

</div>



